<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link font poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- tailwindcss -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>FE1_Login</title>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    screens: {
                        '320': '320px',
                        '425': '425px',
                        '500': '500px'
                    }
                }
            }
        }
    </script>
</head>

<body>
    <div class="">
        <header class="bg-[#262626]">
            <div class="max-w-[1640px] mx-auto px-[20px] ">
                <div class="logo uppercase font-bold text-[34px] py-1 text-white">
                    .pdms
                </div>
            </div>
        </header>
        <!-- content_login -->
        <form class="content_login mt-20 500:mt-[159px] px-5">
            <div
                class="max-w-[450px] rounded-[10px] p-5 mx-auto w-full bg-gradient-to-b to-[#2f496ce0] from-[#5477ada1] ">
                <h1 class="capitalize text-[24px] md:text-[30px] text-[#5477AD] text-center font-bold leading-[45px] mt-3">Forgot
                    password</h1>
                <p
                    class="font-normal text-[14px] mt-[9px] leading-[21px] mx-auto text-center text-white max-w-[360px] ">
                    Your password has been changed successfully, please return to the login page</p>
                <div class="flex justify-center mb-[22px]">
                    <button
                        class="font-bold leading-[18px] text-[12px] px-10 py-3 bg-[#5477AD] text-white rounded-[5px] mx-auto mt-5">Let’s
                        go</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>